@model RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<form asp-action="Register" asp-controller="Account" method="post">
    <div class="form-group">
        <label asp-for="UserName"></label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Nom"></label>
        <input asp-for="Nom" class="form-control" />
        <span asp-validation-for="Nom" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Prenom"></label>
        <input asp-for="Prenom" class="form-control" />
        <span asp-validation-for="Prenom" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Adresse"></label>
        <input asp-for="Adresse" class="form-control" />
        <span asp-validation-for="Adresse" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Ville"></label>
        <input asp-for="Ville" class="form-control" />
        <span asp-validation-for="Ville" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="NumTel"></label>
        <input asp-for="NumTel" class="form-control" type="tel"/>
        <span asp-validation-for="NumTel" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Faculte"></label>
        <input asp-for="Faculte" class="form-control" />
        <span asp-validation-for="Faculte" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Specialite"></label>
        <select asp-for="Specialite" class="form-control">
            <option value="">Sélectionnez la spécialité</option>
            @foreach (var sexe in Enum.GetValues(typeof(Specialite)))
            {
                <option value="@sexe">@sexe</option>
            }
        </select>
        <span asp-validation-for="Specialite" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>
