@model InscriptionViewModel

@{
    ViewData["Title"] = "Paramètres";
}
<div class="card mb-6">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">Basic with Icons</h5>
        <small class="text-muted float-end">Merged input group</small>
    </div>
    <div class="card-body">

        <form asp-action="Index" asp-controller="Parametres" method="post">
            <div class="mb-6">
                <label asp-for="NomUtilisateur" class="form-label" for="basic-icon-default-username"></label>
                <div class="input-group input-group-merge">
                    <input asp-for="NomUtilisateur" type="text" class="form-control" id="basic-icon-default-username" placeholder="Nom d'utilisateur">
                </div>
                <span asp-validation-for="NomUtilisateur" class="text-danger"></span>
            </div>

            <div class="mb-6">
                <label asp-for="Nom" class="form-label" for="basic-icon-default-fullname"></label>
                <div class="input-group input-group-merge">
                    <input asp-for="Nom" type="text" class="form-control" id="basic-icon-default-fullname" placeholder="Nom">
                </div>
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>

            <div class="mb-6">
                <label asp-for="Prenom" class="form-label" for="basic-icon-default-firstname"></label>
                <div class="input-group input-group-merge">
                    <input asp-for="Prenom" type="text" class="form-control" id="basic-icon-default-firstname" placeholder="Prénom">
                </div>
                <span asp-validation-for="Prenom" class="text-danger"></span>
            </div>

            <div class="mb-6">
                <label asp-for="Email" class="form-label" for="basic-icon-default-email"></label>
                <div class="input-group input-group-merge">
                    <input asp-for="Email" type="text" class="form-control" id="basic-icon-default-email" placeholder="Email">
                </div>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-6">
                <label asp-for="Adresse" class="form-label" for="basic-icon-default-address"></label>
                <div class="input-group input-group-merge">
                    <input asp-for="Adresse" type="text" class="form-control" id="basic-icon-default-address" placeholder="Adresse">
                </div>
                <span asp-validation-for="Adresse" class="text-danger"></span>
            </div>

            <div class="mb-6">
                <label asp-for="NumeroTel" class="form-label" for="basic-icon-default-phone"></label>
                <div class="input-group input-group-merge">
                    <input asp-for="NumeroTel" type="text" class="form-control" id="basic-icon-default-phone" placeholder="Numéro de téléphone">
                </div>
                <span asp-validation-for="NumeroTel" class="text-danger"></span>
            </div>

            <div class="mb-6">
                <label asp-for="Specialite" class="form-label" for="basic-icon-default-specialty"></label>
                <div class="input-group input-group-merge">
                    <select asp-for="Specialite" class="form-control" id="basic-icon-default-specialty">
                        <option value="">Sélectionnez une spécialité</option>
                        @foreach (var spe in Enum.GetValues(typeof(Specialite)))
                        {
                            <option value="@spe">@spe</option>
                        }
                    </select>
                </div>
                <span asp-validation-for="Specialite" class="text-danger"></span>
            </div>

            <div class="mb-6">
                <label asp-for="Faculte" class="form-label" for="basic-icon-default-faculty"></label>
                <div class="input-group input-group-merge">
                    <input asp-for="Faculte" type="text" class="form-control" id="basic-icon-default-faculty" placeholder="Faculté">
                </div>
                <span asp-validation-for="Faculte" class="text-danger"></span>
            </div>

            <div class="mb-6">
                <label asp-for="Ville" class="form-label" for="basic-icon-default-city"></label>
                <div class="input-group input-group-merge">
                    <input asp-for="Ville" type="text" class="form-control" id="basic-icon-default-city" placeholder="Ville">
                </div>
                <span asp-validation-for="Ville" class="text-danger"></span>
            </div>

            <div class="mb-6">
                <label asp-for="MotDePasse" class="form-label" for="basic-icon-default-password"></label>
                <div class="input-group input-group-merge">
                    <input asp-for="MotDePasse" type="password" class="form-control" id="basic-icon-default-password" placeholder="Mot de passe">
                </div>
                <span asp-validation-for="MotDePasse" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Modifier</button>
        </form>
    </div>
</div>
