@model InscriptionViewModel

@{
    ViewData["Title"] = "Paramètres";
}
<div class="card mb-6">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">Modification de votre profil</h5>
        <small class="text-muted float-end">Tous les champs sont obligatoires</small>
    </div>
    <div class="card-body">

        <form asp-action="Index" asp-controller="Parametres" method="post">
            <div class="mb-6">
                <label asp-for="NomUtilisateur" class="form-label" ></label>
                <div class="input-group input-group-merge">
                    <input asp-for="NomUtilisateur" type="text" class="form-control" placeholder="Nom d'utilisateur">
                </div>
                <span asp-validation-for="NomUtilisateur" class="text-danger"></span>
            </div>

            <div class="mb-6">
                <label asp-for="Prenom" class="form-label" ></label>
                <div class="input-group input-group-merge">
                    <input asp-for="Prenom" type="text" class="form-control"  placeholder="Prénom">
                </div>
                <span asp-validation-for="Prenom" class="text-danger"></span>
            </div>

            <div class="mb-6">
                <label asp-for="Nom" class="form-label" ></label>
                <div class="input-group input-group-merge">
                    <input asp-for="Nom" type="text" class="form-control"  placeholder="Nom">
                </div>
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>

            <div class="mb-6">
                <label asp-for="Email" class="form-label" ></label>
                <div class="input-group input-group-merge">
                    <input asp-for="Email" type="text" class="form-control"  placeholder="Email">
                </div>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-6">
                <label asp-for="Adresse" class="form-label" ></label>
                <div class="input-group input-group-merge">
                    <input asp-for="Adresse" type="text" class="form-control"  placeholder="Adresse">
                </div>
                <span asp-validation-for="Adresse" class="text-danger"></span>
            </div>

            <div class="mb-6">
                <label asp-for="Ville" class="form-label" ></label>
                <div class="input-group input-group-merge">
                    <input asp-for="Ville" type="text" class="form-control"  placeholder="Ville">
                </div>
                <span asp-validation-for="Ville" class="text-danger"></span>
            </div>


            <div class="mb-6">
                <label asp-for="NumeroTel" class="form-label" ></label>
                <div class="input-group input-group-merge">
                    <input asp-for="NumeroTel" type="text" class="form-control" placeholder="Numéro de téléphone">
                </div>
                <span asp-validation-for="NumeroTel" class="text-danger"></span>
            </div>

            <div class="mb-6">
                <label asp-for="Faculte" class="form-label"></label>
                <div class="input-group input-group-merge">
                    <input asp-for="Faculte" type="text" class="form-control"  placeholder="Faculté">
                </div>
                <span asp-validation-for="Faculte" class="text-danger"></span>
            </div>
            <div class="mb-6">
                <label asp-for="Specialite" class="form-label" ></label>
                <div class="input-group input-group-merge">
                    <select asp-for="Specialite" class="form-control" >
                        <option value="">Sélectionnez une spécialité</option>
                        @foreach (var spe in Enum.GetValues(typeof(Specialite)))
                        {
                            <option value="@spe">@spe</option>
                        }
                    </select>
                </div>
                <span asp-validation-for="Specialite" class="text-danger"></span>
            </div>

            <div class="mb-6">
                <label asp-for="MotDePasse" class="form-label"></label>
                <div class="input-group input-group-merge">
                    <input asp-for="MotDePasse" type="password" class="form-control" placeholder="Mot de passe">
                </div>
                <span asp-validation-for="MotDePasse" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Modifier</button>
        </form>
    </div>
</div>
