@model ContreIndicationViewModel

<form asp-action="@(Model.Id == null ? "Ajouter" : "Modifier")" method="post">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Type" />
    <div>
        <label asp-for="Nom"></label>
        <input asp-for="Nom"  />
        <span  asp-validation-for="Nom" class="text-danger"></span>
       
    </div>

    <div class="form-group row">
        @Html.LabelFor(model => model.IdMedicamentsSelectionnes, new { @class = "col-sm-2 col-form-label" })
        <div class="col-sm-10">
            @Html.ListBoxFor(model => model.IdMedicamentsSelectionnes,
                     new MultiSelectList(Model.Medicaments, "MedicamentId", "Nom"),
                     new { @class = "form-control", @id = "Medicaments_CB" })
        </div>
    </div>

    
    <button type="submit">
        @(Model.Id == null ? "Ajouter" : "Modifier")
    </button>
</form>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#Medicaments_CB').multiselect({
                enableFiltering: true,
                includeSelectAllOption: true
            });
        });
    </script>
}
