@model ContreIndicationViewModel
@{
    ViewData["Title"] = "Détail de l'" + (@Model.Type == "Allergie" ? "allergie" : "antécédent");
}
<div class="container mt-4">
    <div class="row mb-4">
        <div class="col-md-12">


            <h2>Informations Générales</h2>
            <hr />
            <p><strong>Nom :</strong> @Model.Nom</p>
            <p>
                <strong>Médicaments :</strong>
                @foreach (var ant in @Model.Medicaments)
                {
                    <span>@ant.Nom</span>
                }
            </p>
        </div>
    </div>
</div>