
@{
    ViewData["Title"] = "Accueil";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue sur votre page d'accueil </h1>
@*     @foreach(var medicament in Model)
    {
        <p> @medicament.Nom</p>
    } *@
</div>
