@model SelectionPatientViewModel
@{
	ViewData["Title"] = "Sélection du Patient";
}

<div class="container mt-4">
	<h2 class="text-center mb-4">Sélectionner un Patient</h2>
	<div class="row justify-content-center">
		<div class="col-md-8">
			<div class="card shadow-sm">
				<div class="card-header">
					<h4>Choisissez un patient pour créer une ordonnance</h4>
				</div>
				<div class="card-body">
					<form asp-action="SelectionPatient" method="post">
						<div class="form-group mb-3">
							<label asp-for="PatientId" class="form-label">Sélectionnez le patient :</label>
							<select asp-for="PatientId" class="form-control">
								<option value="">Sélectionnez le patient</option>
								@foreach (var p in Model.Patients)

								{
									<option value="@p.PatientId">@p.NomComplet</option>
								}
							</select>
							<span asp-validation-for="PatientId" class="text-danger"></span>
						</div>

						<div class="form-group">
							<button type="submit" class="btn btn-primary btn-block">
								Créer une ordonnance
							</button>
						</div>
					</form>
					<div asp-validation-summary="ModelOnly" class="text-danger mt-3"></div>
				</div>
			</div>
			<div class="mt-3 d-flex justify-content-start">
				<a asp-action="Index" class="btn btn-outline-secondary">
					<i class="bi bi-arrow-return-left"> Retour</i>
				</a>
			</div>
		</div>
	</div>

</div>

@section Scripts {
	<script>
	</script>
}
