html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}


html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: whitesmoke;
}


:root {
    --primary-dark: rgba(41, 47, 54, 1);
    --accent-blue: rgba(13, 110, 253, 0.9);
    --neutral-gray: rgba(55, 65, 81, 0,6);
    --light-hover: rgba(239, 246, 255, 1);
    --secondary-blue-gray: rgba(71, 85, 105, 1);
    --accent-blue-hover: rgba(13, 110, 253, 0.3);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--secondary-blue-gray);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.custom-navbar-brand {
    color: #ffffff;
    font-size: 1.5rem;
    text-decoration: none;
    cursor:default;
}

.nav-links a:not(.custom-navbar-brand) {
    text-decoration: none;
    color: #ffffff;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.nav-links a:not(.custom-navbar-brand):hover {
    background-color: var(--accent-blue-hover);
}

.nav-links a.active {
    background-color: var(--accent-blue);
}

.user-actions .username {
    color: #ffffff;
}

.user-actions a {
    text-decoration: none;
    color: white;
    margin-right: 10px;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.user-actions a:hover {
    background-color: var(--accent-blue-hover);
}

.user-actions a.active {
    background-color: var(--accent-blue);
}


.container {
    flex: 1; 
}

footer {
    background-color: var(--secondary-blue-gray);
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
    flex-shrink: 0;
}

footer a {
    text-align:center;
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease;
    margin-right:10px;
}

footer a:hover {
    color: var(--light-hover);
    text-decoration: underline;
}

.register-link a {
    text-decoration:none;
    color: var(--accent-blue);
    cursor:pointer;
}

.register-link a:hover {
    text-decoration: underline;
}

.pagination-container {
    position: absolute;
    bottom: 35px; 
    width: 70%;
}

/*.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem var(--accent-blue);
}*/

h2 {
    margin-top: 20px;
    color: var(--secondary-blue-gray);
    text-align: center;
}

h3 {
    color: var(--secondary-blue-gray);
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh; 
}
