   @model Medicament

@{
    ViewData["Title"] = "Ajouter un medicament";
}


<form asp-action="Ajouter" asp-controller="Medicament" method="post">
    <div class="form-group">
        <label asp-for="Nom"></label>
        <input asp-for="Nom" class="form-control" />
        <span asp-validation-for="Nom" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Quantite"></label>
        <input asp-for="Quantite" class="form-control" />
        <span asp-validation-for="Quantite" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Posologie"></label>
        <input asp-for="Posologie" class="form-control" />
        <span asp-validation-for="Posologie" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Composition"></label>
        <input asp-for="Composition" class="form-control"/>
        <span asp-validation-for="Composition" class="text-danger"></span>
    </div>



    <button type="submit" class="btn btn-primary">Enregistrer le medicament</button>
</form>

